<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${editPerson.getId()})}" th:object="${editPerson}">
  <label for="name">Enter Name</label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  <br/>
    <label for="age">Enter Age</label>
    <input type="text" th:field="*{age}" id="age">
  <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email">
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>
  <input type="submit" value="Update!">
</form>
</body>
</html>